/* Components */
@import "./components/sidebar.css"; /* left hand sidebar **NEW** */
@import "./buttons/standard.css"; /* basic button styles **NEW** */
@import "./components/update.css"; /* update button styles **NEW** */
@import "./components/footer.css"; /* footer layout helpers **NEW** */
@import "./components/header.css"; /* header layout helpers **NEW** */
@import "./components/body.css"; /* body layout helpers **NEW** */
@import "./components/layout.css"; /* general layout helpers **NEW** */
@import "./components/board.css"; /* board layout helpers **NEW** */
@import "./components/column.css"; /* column layout helpers **NEW** */
@import "./components/viewcard.css"; /* card layout helpers **NEW** */
@import "./components/cardEditor.css"; /* card editor layout helpers **NEW** */

/* Themes */
@import "./themes/light.css"; /* light theme **NEW** basic for just sidebar */
@import "./components/cardEditor/animations.css"; /* card editor animations **NEW** */

/* Global (SnapDock style!) */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
}
